
.status-item{
    list-style-type: none;
    color: var(--second-color);
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    text-shadow: black 1px 1px;
    
}
.color-fondo{
    background-color: red;
    background-color: green;
    
}
h2{
    margin: 0;
    padding: 0;
    color: var(--second-color);
    background-color: var(--title-color);
    text-decoration: none;
    list-style-type: none;
    border: solid 2px;
    border-color: red;
    text-align: right;
    background: url('../images/alerta.png') left no-repeat;
    background-size: 40px;
    padding-left: 60px;
}
