{% extends 'base.html' %}

{% block titulo %} Status {% endblock %}
{% block menu%}
    <nav class="navbar-container">
        <ul class = "navbar-list">
            <li class="navbar-item"><a href="/" role="button">Inicio</a></li>
            <li class="navbar-item"><a href="/purchase" role="button">Compra</a></li>
            <li class="navbar-item"><p class="item-desactivado">Status</p></li>
        </ul>
    </nav>
{% endblock %}
{% block contenido %}

    <h1 class="titulo-seccion">ESTADO DE LA INVERSIÓN</h1>
    
    
    {% if contenido%}
    
    <div class="grid">
        
            <li class="status-item">Invertido:</li>
            <li class="status-item">{{contenido[0]}}</li>
        
    </div>
    <div class="grid">
        
            <li class="status-item">Valor actual:</li>
            <li class="status-item"> {{contenido[1]}}</li>
        
    </div>
    <div class="grid">
        
        <li class="status-item">Recuperado:</li>
        <li class="status-item"> {{contenido[2]}}</li>
    
    </div>
    <div class="grid">
        
        <li class="status-item">Valor de compra:</li>
        <li class="status-item"> {{contenido[3]}}</li>
    
    </div>

    <div class="grid">
       
        <li class="status-item">Ganancias/Perdidas: </li>
        {% if contenido[5] %}
        <li class="status-item" style="color: green"> {{ contenido[4] }}</li>
        {% else %}
        <li class="status-item" style="color: red">{{ contenido[4] }}</li>
        {% endif %}
        
    </div>    

    {% else %}

        <div class="no-movs"><h1 class="subtitulo">Sin datos</h1></div>
    
    {%endif%}
    
    <br>
    
    <p class="actions">
        </li><a class="buttons" href="/" role="button">Volver</a>

    </p>
    <br/>
{% endblock %}